
@font-face {
  font-family: 'Kollektif';
  src: url('/assets/fonts/Kollektif.ttf') format('truetype');
 
} 

:root {
  --clr-font: 'Kollektif';
}

body, * {
  font-family: 'Kollektif' !important;
}

html * {
  font-size: 17px;
  font-weight: lighter;
}


