
@font-face {
  font-family: 'Kollektif';
  src: url('/assets/fonts/Kollektif.ttf') format('truetype');
  font-weight: 400;
} 

:root {
  --clr-font: 'Kollektif';
}

body, * {
  font-family: 'Kollektif' !important;
}


